*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --bg-color: #333;
  --med-color: #999;
  --fg-color: #fff;
  --plain-size: 50vmin;
  --cell-size: calc(var(--plain-size) / 3);
  --mark-size: calc(var(--cell-size) * 0.9);
  --msg-bg: rgba(0, 0, 0, 0.5);
  --msg-color: rgba(0, 255, 0, 1);
}

body {
  background-color: var(--bg-color);
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.msg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--msg-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  z-index: 999;
}

.msg p {
  font-size: 7em;
  text-shadow: 0 4px 8px black;
  color: var(--msg-color);
}

.msg a {
  text-decoration: none;
  font-size: 2.5em;
  background-color: var(--fg-color);
  color: var(--bg-color);
  padding: 0.1rem 0.9rem;
  border-radius: 0.2rem;
  box-shadow: 0 4px 8px black;
  border: 1px solid var(--fg-color);
}

.msg a:hover,
.msg a:focus {
  border-color: var(--msg-color);
}

.hide {
  display: none;
}

.plain {
  width: var(--plain-size);
  height: var(--plain-size);
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
  border: 1px solid var(--med-color);
}

/* The Cell and Mark style code was copied from a repository that I own, but which contains references to code used with permission, which can be found at its original origin here: https://github.com/WebDevSimplified/JavaScript-Tic-Tac-Toe/blob/master/styles.css */

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  border: 1px solid transparent;
}

.cell:first-child {
  border-right-color: var(--fg-color);
  border-bottom-color: var(--fg-color);
}
.cell:nth-child(3) {
  border-left-color: var(--fg-color);
  border-bottom-color: var(--fg-color);
}
.cell:nth-child(5) {
  border-color: var(--fg-color);
}
.cell:nth-child(7) {
  border-top-color: var(--fg-color);
  border-right-color: var(--fg-color);
}
.cell:nth-child(9) {
  border-top-color: var(--fg-color);
  border-left-color: var(--fg-color);
}

.cell.x,
.cell.o {
  cursor: default;
}

.cell.x::before,
.cell.x::after,
.cell.o::before {
  background-color: var(--fg-color);
}

.plain.x .cell:not(.x):not(.o):hover::before,
.plain.x .cell:not(.x):not(.o):hover::after,
.plain.o .cell:not(.x):not(.o):hover::before {
  background-color: var(--med-color);
}

.cell.x::before,
.cell.x::after,
.plain.x .cell:not(.x):not(.o):hover::before,
.plain.x .cell:not(.x):not(.o):hover::after {
  content: '';
  position: absolute;
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
}

.cell.x::before,
.plain.x .cell:not(.x):not(.o):hover::before {
  transform: rotate(45deg);
}

.cell.x::after,
.plain.x .cell:not(.x):not(.o):hover::after {
  transform: rotate(-45deg);
}

.cell.o::before,
.cell.o::after,
.plain.o .cell:not(.x):not(.o):hover::before,
.plain.o .cell:not(.x):not(.o):hover::after {
  content: '';
  position: absolute;
  border-radius: 50%;
}

.cell.o::before,
.plain.o .cell:not(.x):not(.o):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);
}

.cell.o::after,
.plain.o .cell:not(.x):not(.o):hover::after {
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
  background-color: var(--bg-color);
}
